.Signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Signup input{
    width: 50%;
    height: 30px;
}

.Signup button{
    background-color: blue;
    color:  white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
}